@model AdvancedResources.Models.Seller

@{
    ViewData["Title"] = "Detalhes do Vendedor";
}

<h1 class="display-5 m-4 text-center">@ViewData["Title"]</h1>
<hr class="container-fluid w-75" />

<div class="container-fluid col-md-4">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr class="container-fluid w-100" />

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr class="container-fluid w-100" />

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <hr class="container-fluid w-100" />

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <hr class="container-fluid w-100" />

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <hr class="container-fluid w-100" />
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</div>
